@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=ReemKufi);

.title{
  /* Old browsers */
  /* Might need to be changed. */
  font-size: 3em;
  letter-spacing: .16em;
  text-align: center;
  /* text-shadow: -5px 0px 0px rgb(255, 3, 104); */
  font-family:Righteous;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: center;

color: #FFFFFF;

}
.aboutme{
    font-family: Reem Kufi;
}
.fondo{
    background-color: rgba(0, 0, 0, 0.43);
}
