
.mobile{
    height: 100vh !important;
    /* fondo */

position: absolute;


left: 0px;
top: 0px;
color: #ffffff;
background: url(img/photo.jpg);
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(8, 8, 8, 0.35);
background-size: cover;
background-repeat: round;
background-repeat: no-repeat;
filter: grayscale(50%), contrast(1%)

}
.desktop{
    height: 100vh !important;
    /* fondo */

position: absolute;


left: 0px;
top: 0px;
color: #ffffff;
background: url(img/photo-desktop.jpg);


box-shadow: inset 0px 4px 4px rgba(8, 8, 8, 0.35);
background-size: cover;
    background-position: center;

filter: grayscale(50%), contrast(1%)
}